@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0b0f19;
  color: #e2e8f0;
}

/* Custom Scrollbar for gaming feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0b0f19; 
}
::-webkit-scrollbar-thumb {
  background: #b026ff; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00f0ff; 
}
/* Force clean update for Tailwind */
